
.container-nav{
    height: auto;
    background-color: gray;
    border: 2px solid black;
}


.left-nav-list{
    display: flex;
    justify-content: left;
}

.left-nav-list li{
    margin-right: 100px;
    color: white;
    list-style: none;
}

.right-nav-list{
    position: absolute;
    right: 5px;
}
 .right-nav-list li{
    color: red;
    list-style: none;
 }
