
.container-nav{
    height: auto;
    background-color: gray;
    border: 2px solid black;
}

.nav-list-left{
    /* display: flex; */
    /* justify-self:left; */
}

.nav-list-right{
    /* display: flex; */
    /* justify-content: right; */
}


