
.container-nav{
    /* background-color: rgb(50, 50, 52); */
    width: 100%;
}


.left-nav-list{
    display: flex;
    justify-content: space-between;
}

.left-nav-list li{
    margin-right: 2rem;
    list-style: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
    &:hover{
        font-size: 1.3rem;
    }

}

.icon-field{
    margin-right:0.5dvw;
    &:hover{
        color: red;
    }
}

.right-nav-list{
    position: absolute;
}
 /* .right-nav-list li{
    color: red;
    list-style: none;
 } */
